.Card{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 300px;
    border: 1px solid #ddd;
    margin: .5rem 1rem;
}

.Card img{
  width: 300px;
  height: 250px;
}

.Card p{
  color: green;
}

.Card .Container{
  display: flex;
  justify-content: space-around;
}

.Card .Container-left p {
  color: #932723
}

.Overlay {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 0.3125rem;
    z-index: 2;
    transform: scale(0);
    transition: all ease 1s;
  }
  .Card:hover .Overlay {
    transform: scale(1);
  }